.errorlist {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;
    color: #d6000b;
  }
  
  .invalid label {
    color: #d6000b;
  }
  
  .invalid input{
    border-color: #d6000b;
    background-color: #ffe6e7;
  }
  
  #alert {
    margin: 2rem auto 2rem auto;
    border: 1px solid #d6000b;
    background-color: #ffe6e7;
    padding: 1rem;
    width: 100%;
  }

  #id_available, #id_blocked{
    width: 20px;
  }

  #id_city{
    margin-bottom: 1.5rem;
  }

  #id_image{
    margin: 1rem 0 1rem 0;
  }

  .jumbotron {
    width: 800px;
  }