{% extends "base.html" %}

{% block title %}
    Livres
{% endblock %}

{% block content %}
    <h1 class="text-center">Liste de livres</h1>
    <table class="table table-border table-striped ">
        <thead class="thead-dark">
            <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Langue</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>
                        <a href="{% url 'book_detail' book.slug %}">
                            {{ book.title }}
                        </a>
                    </td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.language }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}