{% extends "base.html" %}
{% load static %}

{% block title %}
    Accueil
{% endblock %}

{% block css_files %}
	<link rel="stylesheet" href="{% static 'member/index.css' %}" />
{% endblock %}

{% block content %}
    
    <section id="medias">
        <section class="jumbotron text-center">
            <h1 class="display 4">Bienvenue a la médiathèque « Notre livre, notre média »</h1>
            <p class="lead">Voir nos médias disponibles</p>
            <form method="GET" action="{% url 'index' %}">
                {% csrf_token %}
                <div>
                    <input
                    type="text"
                    name="search"
                    placeholder="Rechercher un livre, un CD, un DVD..."
                    />
                    <button class="" type="submit">
                    Recherche
                    </button>    
                </div>
            </form>
        </section>

        <section class="filters">
            <form method="GET" action="{% url 'index' %}">
                {% csrf_token %}
                <div>
                    <input 
                    type="checkbox"
                    name="return_all"
                    id="return_all" 
                    {{ return_all }}
                    />
                    <label for="return_all">Tous ({{ total_medias }})</label>
                </div>
                <div>
                    <input 
                    type="checkbox"
                    name="return_books"
                    id="return_books" 
                    {{ return_books }}
                    />
                    <label for="return_books">Livres ({{ total_books }})</label>
                </div>
                <div>
                    <input 
                    type="checkbox"
                    name="return_cds"
                    id="return_cds" 
                    {{ return_cds }}
                    />
                    <label for="return_cds">CDs ({{ total_cds }})</label>
                </div>
                <div>
                    <input 
                    type="checkbox"
                    name="return_dvds"
                    id="return_dvds" 
                    {{ return_dvds }}
                    />
                    <label for="return_dvds">DVDs ({{ total_dvds }})</label>
                </div>
                <div>
                    <input 
                    type="checkbox"
                    name="return_games"
                    id="return_games" 
                    {{ return_games }}
                    />
                    <label for="return_games">Jeux de plateau ({{ total_games }})</label>
                </div>
                <div>
                    <button class="btn btn-success btn-sm" type="submit">
                        Trier
                    </button>
                </div>
                </div>
            </form>
        </section>

        <section class="media-container">
            {% for media in media_list %}
            <article class="media">
                <a href="
                    {% if media.media_type == 'Book'%}
                        {% url 'gest-book-detail' media.slug %}
                    {% elif media.media_type == 'Cd'%}
                        {% url 'gest-cd-detail' media.slug %}
                    {% elif media.media_type == 'Dvd'%}
                        {% url 'gest-dvd-detail' media.slug %}
                    {% elif media.media_type == 'BoardGame'%}
                        {% url 'gest-game-detail' media.slug %}
                    {% endif %}
                    ">
                    <div class="media-image">
                        {% if media.image and media.image.url %}
                        <img
                        src="{{ media.image.url }}"
                        alt="Media Image"
                        class="media-image"
                        />
                        {% else %}
                            {% if media.media_type == 'Book' %}
                            <img
                            src="{{ MEDIA_URL }}images/book-placeholder.jpg"
                            alt="Media Image Placeholder"
                            class="media-image"
                            />
                            {% elif media.media_type == 'Cd' %}
                            <img
                            src="{{ MEDIA_URL }}images/cd-placeholder.jpg"
                            alt="Media Image Placeholder"
                            class="media-image"
                            />
                            {% elif media.media_type == 'Dvd' %}
                            <img
                            src="{{ MEDIA_URL }}images/dvd-placeholder.jpg"
                            alt="Media Image Placeholder"
                            class="media-image"
                            />
                            {% elif media.media_type == 'BoardGame' %}
                            <img
                            src="{{ MEDIA_URL }}images/games-placeholder.jpg"
                            alt="Media Image Placeholder"
                            class="media-image"
                            />
                            {% endif %}
                        {% endif %} 
                    </div>
                    <div class="media-title">
                        <p class="media-title">
                            {% if media.media_type == 'BoardGame' %}
                                {{ media.name }}
                            {% else %}
                                {{ media.title }}
                            {% endif %}
                        </p>
                    </div>
                </a>
            </article>
            {% endfor %}
        </section>

    </section>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a 
                        class="page-link" 
                        href="?page={{ page_obj.previous_page_number }}
                        {% if request.GET.search %}&search={{ request.GET.search }}
                        {% endif %}
                        {% if request.GET.return_books %}&return_books={{ request.GET.return_books }}
                        {% endif %}
                        {% if request.GET.return_cds %}&return_cds={{ request.GET.return_cds }}
                        {% endif %}
                        {% if request.GET.return_dvds %}&return_dvds={{ request.GET.return_dvds }}
                        {% endif %}
                        {% if request.GET.return_games %}&return_games={{ request.GET.return_games }}
                        {% endif %}">
                        Précédent
                    </a>
                </li>
            {% endif %}
            
            {% for page_num in page_obj.paginator.page_range %}
                <li class="page-item {% if page_obj.number == page_num %}active{% endif %}">
                    <a 
                        class="page-link"
                        href="?page={{ page_num }}
                        {% if request.GET.search %}&search={{ request.GET.search }}
                        {% endif %}
                        {% if request.GET.return_books %}&return_books={{ request.GET.return_books }}
                        {% endif %}
                        {% if request.GET.return_cds %}&return_cds={{ request.GET.return_cds }}
                        {% endif %}
                        {% if request.GET.return_dvds %}&return_dvds={{ request.GET.return_dvds }}
                        {% endif %}
                        {% if request.GET.return_games %}&return_games={{ request.GET.return_games }}
                        {% endif %}">
                        {{ page_num }}
                    </a>
                </li>
            {% endfor %}
    
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a
                        class="page-link"
                        href="?page={{ page_obj.next_page_number }}
                        {% if request.GET.search %}&search={{ request.GET.search }}
                        {% endif %}
                        {% if request.GET.return_books %}&return_books={{ request.GET.return_books }}
                        {% endif %}
                        {% if request.GET.return_cds %}&return_cds={{ request.GET.return_cds }}
                        {% endif %}
                        {% if request.GET.return_dvds %}&return_dvds={{ request.GET.return_dvds }}
                        {% endif %}
                        {% if request.GET.return_games %}&return_games={{ request.GET.return_games }}
                        {% endif %}">
                        Suivant
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}