body{
    margin-top: 50px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    min-height: calc(100vh - 150px);
}

.navbar{
    background-color: #343a40;
}
.navbar-brand, .nav-link{
    color: #fff !important;
}

.navbar-brand:hover, .nav-link:hover{
    color: #6696d4 !important;
}

.container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

section h1{
    margin: 2rem;
}

.table th, .table td{
    vertical-align: middle;
}

.table .image-table{
    width: 100px;
}

#media-list-resevations{
    margin: 0;
    padding: 0;
    list-style: none;
}

.table{
    width: 98%;
}

.image-container{
    height:100%;
}

.image-container img{
    height: 400px;
}

section .content{
    display: flex;
    gap: 1rem;
    height: fit-content;
}

#media-details{
    width: 100%;
}

.container-btn{
    display: flex;
    justify-content: flex-end;
}

.container-btn a{
    margin-left: 1rem;
}

.search-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:20%;
    height: 100%;
    margin-left: 1rem;
}

.search-block form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: .5rem;
    background-color: rgb(202, 201, 201);
}

.search-block__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:.2rem;
}
.search-block__title, input, button{
    width: 100%;
}

.search-block__filters{
    margin-top: 1rem;
    width: 100%;
}

.search-block__filters div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    margin-top: .5rem;
    width: 100%;
}

.search-block__filters div label{
    margin: 0;
}

.search-block__filters div input{
    width: 20px;
}

footer{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm-delete{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(202, 201, 201);
    padding: 1rem;
    border-radius: 10px;
}

.confirm-delete form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:.5rem
}





