body{
    padding-top: 56px;
}
.navbar{
    background-color: #343a40;
}
.navbar-brand, .nav-link{
    color: #fff !important;
}

.navbar-brand:hover, .nav-link:hover{
    color: #6696d4 !important;
}

.container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}
.table th, .table td{
    vertical-align: middle;
}