body{
    padding-top: 56px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.navbar{
    background-color: #343a40;
}
.navbar-brand, .nav-link{
    color: #fff !important;
}

.navbar-brand:hover, .nav-link:hover{
    color: #6696d4 !important;
}

.container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}
.table th, .table td{
    vertical-align: middle;
}

#media-list-resevations{
    margin: 0;
    padding: 0;
    list-style: none;
}

.table{
    width: 90%;
}